[submodule "third_party/grpc"]
	path = third_party/grpc
	url = https://github.com/grpc/grpc.git
[submodule "third_party/cpp-redis"]
	path = third_party/cpp-redis
	url = https://github.com/Cylix/cpp_redis.git
